<section>
    
    <!-- Email -->
    <section>
        <label class="control-label" for="email">Email :</label>
        <input type="email" class="form-control" id="email" required/>
    </section>
    <!-- Email -->

    <!-- Primary Address -->
    <section>
        <label class="control-label" for="primary_address">Primary Address</label>
        <input type="text" class="form-control" id="primary_address" maxlength="128" required />
    </section>
    <!-- Primary Address -->

    <!-- Secondary Address -->
    <section>
        <label class="control-label" for="secondary_address">Secondary Address</label>
        <input type="text" class="form-control" id="secondary_address" maxlength="128" required />
    </section>
    <!-- Secondary Address -->

    <!-- City  -->
    <section>
        <label class="control-label" for="city">City</label>
        <input type="text" class="form-control" id="city" maxlength="50" required />
    </section>
    <!-- City  -->

    <!-- State/Province/Region -->
    <section>
        <label class="control-label" for="state_province_region">State/Province/Region</label>
        <input type="text" class="form-control" id="state_province_region" maxlength="80" required />
    </section>
    <!-- State/Province/Region -->

    <!-- ZIP / Postal Code -->
    <section>
        <label class="control-label" for="zip">ZIP / Postal Code</label>
        <input type="text" class="form-control" id="zip" maxlength="15" required />
    </section>
    <!-- ZIP / Postal Code -->

    <!-- Country -->
    <section>
        <label class="control-label" for="country">Country</label>
        <input type="search" class="form-control" ng-model="filterCountries" placeholder="Filter country"/>
        <select id="country"
                class="form-control"
                ng-init="country = countries[0]"
                ng-options="country.Name for country in (countries | filter:filterCountries) track by country.Id"
                ng-model="country">
            <option value="">Choose a country:</option>
        </select>
    </section>
    <!-- Country -->

    <!-- ZIP / Postal Code -->
    <section>
        <label class="control-label" for="phone_number">Phone Number</label>
        <input type="tel" class="form-control" id="phone_number" maxlength="20" required />
    </section>
    <!-- ZIP / Postal Code -->
</section>