<section>
    
    <!-- Product information -->
    <section>
        <section>
            Product Name: {{ LocalApplicationUserShippingAddressDatabaseService.ProductViewModelItem.Name }}
        </section>
        <section>
            <span>
                <span>Unit price:</span>
                <span>
                    {{ LocalApplicationUserShippingAddressDatabaseService.ProductViewModelItem.UnitPrice }} $
                </span>
            </span>
            <span>
                X 
            </span>
            <input type="number" min="1" size="2"
                   ng-model="LocalApplicationUserShippingAddressDatabaseService.ProductTotalCostItem.Quantity"
                   value="{{ LocalApplicationUserShippingAddressDatabaseService.ProductTotalCostItem.Quantity }}" />
            <span>
                <span>
                    Total Cost: 
                </span>
                <span>
                    {{ LocalApplicationUserShippingAddressDatabaseService.ProductTotalCostItem.totalCostFormatted() }} $ 
                </span>
            </span>
        </section>
    </section>
    <!-- Product information -->

    <!-- Email -->
    <section>
        <label class="control-label" for="email">Email :</label>
        <input type="email" class="form-control" id="email" required 
               ng-model="LocalApplicationUserShippingAddressDatabaseService.User.Email"
               value="{{ LocalApplicationUserShippingAddressDatabaseService.User.Email }}"/>
    </section>
    <!-- Email -->

    <!-- Primary Address -->
    <section>
        <label class="control-label" for="primary_address">Primary Address</label>
        <input type="text" class="form-control" id="primary_address" maxlength="128" required 
               ng-model="LocalApplicationUserShippingAddressDatabaseService.UserShippingAddress.PrimaryAddress"
               value="{{ LocalApplicationUserShippingAddressDatabaseService.UserShippingAddress.PrimaryAddress }}" />
    </section>
    <!-- Primary Address -->

    <!-- Secondary Address -->
    <section>
        <label class="control-label" for="secondary_address">Secondary Address</label>
        <input type="text" class="form-control" id="secondary_address" maxlength="128" required 
               ng-model="LocalApplicationUserShippingAddressDatabaseService.UserShippingAddress.SecondaryAddress"
               value="{{ LocalApplicationUserShippingAddressDatabaseService.UserShippingAddress.SecondaryAddress }}"/>
    </section>
    <!-- Secondary Address -->

    <!-- City  -->
    <section>
        <label class="control-label" for="city">City</label>
        <input type="text" class="form-control" id="city" maxlength="50" required
               ng-model="LocalApplicationUserShippingAddressDatabaseService.UserShippingAddress.City"
               value="{{ LocalApplicationUserShippingAddressDatabaseService.UserShippingAddress.City }}"/>
    </section>
    <!-- City  -->

    <!-- State/Province/Region -->
    <section>
        <label class="control-label" for="state_province_region">State/Province/Region</label>
        <input type="text" class="form-control" id="state_province_region" maxlength="80" required 
               ng-model="LocalApplicationUserShippingAddressDatabaseService.UserShippingAddress.State"
               value="{{ LocalApplicationUserShippingAddressDatabaseService.UserShippingAddress.State }}"/>
    </section>
    <!-- State/Province/Region -->

    <!-- ZIP / Postal Code -->
    <section>
        <label class="control-label" for="zip">ZIP / Postal Code</label>
        <input type="text" class="form-control" id="zip" maxlength="15" required 
               ng-model="LocalApplicationUserShippingAddressDatabaseService.UserShippingAddress.ZIP"
               value="{{ LocalApplicationUserShippingAddressDatabaseService.UserShippingAddress.ZIP }}"/>
    </section>
    <!-- ZIP / Postal Code -->

    <!-- Country -->
    <section>
        <label class="control-label" for="country">Country: </label>
        <input type="search" class="form-control" ng-model="filterCountries" placeholder="Filter country"/>
        <select id="country"
                class="form-control"
                ng-init="country = countries[0]"
                ng-options="country.Name for country in (countries | filter:filterCountries) track by country.Id"
                ng-model="LocalApplicationUserShippingAddressDatabaseService.Country">
            <option value="">Choose a country:</option>
        </select>
     </section>
    <!-- Country -->

    <!-- Phone Number -->
    <section>
        <label class="control-label" for="phone_number">Phone Number</label>
        <input type="tel" class="form-control" id="phone_number" maxlength="20" required
               ng-model="LocalApplicationUserShippingAddressDatabaseService.UserShippingAddress.PhoneNumber"
               value="{{ LocalApplicationUserShippingAddressDatabaseService.UserShippingAddress.PhoneNumber }}" />
    </section>
    <!-- Phone Number -->

    <button ng-click="LocalApplicationUserShippingAddressDatabaseService.saveRecordToDabase()"
            class="standart-form-button icon-save button-type-light-silver">
        {{ LocalApplicationUserShippingAddressDatabaseService.submitButton.label }}
    </button>
</section>